DIALPAD_ARCHIVE_ROOT=Z:\Historical\Dialpad
DIALPAD_CONTACTS_CSV=Z:\Historical\Contacts\2026_0408_master_contacts_clean.csv
DIALPAD_COMPANY_MAP_JSON={"4943523498434560":"INC"}
DIALPAD_COMPANY_FALLBACK=UNMAPPED
DIALPAD_ARCHIVE_TIMEZONE=America/New_York
DIALPAD_STATS_TIMEZONE=
DIALPAD_CLIENT_ID=
DIALPAD_CLIENT_SECRET=
DIALPAD_ACCESS_TOKEN=
DIALPAD_REFRESH_TOKEN=
DIALPAD_RECORDING_SHARE_PRIVACY=company
DIALPAD_COMPANY_ID=
DIALPAD_USER_ID=
DIALPAD_OFFICE_ID=
DIALPAD_BACKFILL_TARGET_TYPE=
DIALPAD_BACKFILL_TARGET_ID=
DIALPAD_BACKFILL_TARGET_ENTITY_ID=
DIALPAD_POLL_WAIT=5
DIALPAD_POLL_MAX=8
DIALPAD_POLL_RETRY=5
DIALPAD_CATCHUP_SMTP_HOST=
DIALPAD_CATCHUP_SMTP_PORT=587
DIALPAD_CATCHUP_SMTP_USERNAME=
DIALPAD_CATCHUP_SMTP_PASSWORD=
DIALPAD_CATCHUP_SMTP_STARTTLS=true
DIALPAD_CATCHUP_SMTP_SSL=false
DIALPAD_CATCHUP_EMAIL_FROM=
DIALPAD_CATCHUP_EMAIL_TO=
DIALPAD_CATCHUP_SUBJECT_PREFIX=Dialpad Catch-Up
