SYNAPSE_DB_NAME=synapse
SYNAPSE_DB_USER=synapse
SYNAPSE_DB_PASSWORD=CHANGE_ME_SYNAPSE_DB_PASSWORD
SYNAPSE_SERVER_NAME=taloscognitive.com
SYNAPSE_PUBLIC_BASEURL=https://matrix.taloscognitive.com
ELEMENT_DEFAULT_SERVER_URL=https://matrix.taloscognitive.com
